<section id="showcase">
    <div class="container">
        <h1>Dishes</h1>
        <p>List of dish ideas for you to cook.</p>
    </div>
</section>

<section class="dish-container">
    <div class="dish">
        <h3>Chicken and Rice</h3>
        <div class="ingredients">
            <p>chicken</p>
            <p>rice</p>
            <p>salt</p>
            <p>pepper</p>
            <p>olive oil</p>
            <p>garlic</p>
        </div>
    </div>
    
    <div class="dish">
        <h3>Spaghetti Bolognese</h3>
        <div class="ingredients">
            <p>spaghetti</p>
            <p>ground beef</p>
            <p>onion</p>
            <p>garlic</p>
            <p>tomato sauce</p>
            <p>olive oil</p>
            <p>parmesan cheese</p>
        </div>
    </div>
    
    <div class="dish">
        <h3>Beef Tacos</h3>
        <div class="ingredients">
            <p>ground beef</p>
            <p>taco shells</p>
            <p>lettuce</p>
            <p>tomato</p>
            <p>cheddar cheese</p>
            <p>sour cream</p>
            <p>taco seasoning</p>
        </div>
    </div>
    
    <div class="dish">
        <h3>Vegetable Stir Fry</h3>
        <div class="ingredients">
            <p>broccoli</p>
            <p>carrots</p>
            <p>bell peppers</p>
            <p>soy sauce</p>
            <p>garlic</p>
            <p>ginger</p>
            <p>olive oil</p>
        </div>
    </div>
    
    <div class="dish">
        <h3>Grilled Salmon</h3>
        <div class="ingredients">
            <p>salmon fillet</p>
            <p>lemon</p>
            <p>dill</p>
            <p>olive oil</p>
            <p>garlic</p>
            <p>salt</p>
            <p>pepper</p>
        </div>
    </div>
    
    <div class="dish">
        <h3>Caesar Salad</h3>
        <div class="ingredients">
            <p>romaine lettuce</p>
            <p>croutons</p>
            <p>parmesan cheese</p>
            <p>Caesar dressing</p>
            <p>chicken breast</p>
            <p>black pepper</p>
        </div>
    </div>
    
    <div class="dish">
        <h3>Chicken Alfredo</h3>
        <div class="ingredients">
            <p>fettuccine</p>
            <p>chicken breast</p>
            <p>heavy cream</p>
            <p>parmesan cheese</p>
            <p>garlic</p>
            <p>butter</p>
            <p>black pepper</p>
        </div>
    </div>
    
    <div class="dish">
        <h3>Beef Stroganoff</h3>
        <div class="ingredients">
            <p>beef strips</p>
            <p>egg noodles</p>
            <p>mushrooms</p>
            <p>onion</p>
            <p>sour cream</p>
            <p>beef broth</p>
            <p>mustard</p>
        </div>
    </div>
    
</section>
